extends ./layout/index 
block slider 
    .slider  
        h1 Rio de Janerio
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda quasi exercitationem ex doloribus architecto! Mollitia tempora ducimus voluptatibus suscipit dolorum eveniet est iure possimus, velit pariatur, laboriosam, esse dicta!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores corrupti accusamus hic quos illum autem odit ullam dolorem vel? Modi ad, tenetur eveniet doloribus quisquam officiis voluptate recusandae libero!
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg",alt="Imagen Nosotros",class="img-fluid")
        include ./layout/bloque_viajes

    .descuento
        .container 
            .row
                .col-md-6 
                    .contenido
                        h3 50% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 -28 de Marzo 2022
                        p.precio $2,500 USD

    .container
        include ./layout/bloque_testimoniales