extends ./layout/index 
block contenido
    main.container.mt-
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotos" ,class="img-fluid mt-5")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quasi harum fugiat, dolor qui facilis nam aliquid obcaecati ipsum repellat magnam reiciendis quis omnis ea molestiae? Aliquam ea quasi quis.Fugit, error veniam corporis expedita architecto alias magnam repudiandae laborum in voluptatem explicabo animi nobis velit nostrum molestias quasi, et consequatur distinctio temporibus corrupti veritatis quibusdam. Nostrum illum illo atque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore suscipit sapiente cupiditate culpa obcaecati esse expedita voluptatum ipsum sed officiis! Fuga officiis magni sint quas, voluptates quod voluptatibus assumenda laboriosam.Voluptate doloremque omnis aut quos voluptatem nam atque, dolore officia, quas repellendus dolores quae laudantium officiis eius maxime sunt suscipit libero autem corrupti, molestias numquam ipsa! Tempora ut culpa corrupti.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, commodi odio itaque maxime animi facere ut placeat? Dolorum delectus beatae ut eos ab laborum iste, reprehenderit ad reiciendis error nesciunt.Doloribus officia corrupti velit, magnam minima earum facilis assumenda quaerat, quisquam tempore ab, debitis nemo cum voluptas soluta minus deserunt! Consequatur eos nisi nobis laboriosam fugit et nostrum blanditiis quod.
            .listado-iconos
                .container.mt-5.py-5.text-center 
                    .row       
                        .col-md-4   
                            img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sed vero sapiente ipsum officiis reprehenderit optio facere atque dolorem, maiores unde dignissimos, in dicta quam hic delectus magnam exercitationem eligendi.
                        .col-md-4   
                            img(src="img/icono_destinos.svg", alt="icono destino",class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sed vero sapiente ipsum officiis reprehenderit optio facere atque dolorem, maiores unde dignissimos, in dicta quam hic delectus magnam exercitationem eligendi.
                        .col-md-4   
                            img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sed vero sapiente ipsum officiis reprehenderit optio facere atque dolorem, maiores unde dignissimos, in dicta quam hic delectus magnam exercitationem eligendi.
                                    
