header 
    .navegacion
        .row.justify-content-center.justify-content-md-between.alig-items-center.py-4 
            .col-md-4.col-6.px-5
                a(href="/")
                    img(src="/img/logo.svg", alt="Logo Sitio") 
            .col-md-8.col-6
                nav.mt-5.nav.justify-content-center.justify-content-md-end
                    a.nav-link(href="/nosotros") Nosotros
                    a.nav-link(href="/viajes") Viajes
                    a.nav-link(href="/testimoniales") Testimoniales
          
            